@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto",sans-serif;
}

h1{
    color:brown;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h2{
    color:black;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

nav {
   background-color: bisque;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

input {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

label { 
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
button {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    width: 50%;
    text-transform: uppercase;
    background-color: bisque;
}

