h1,h2{
    color:brown;
}

h2{
    margin-top: 4rem;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}
button {
    padding: 10px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    transition: all ease-in-out 0.3s;
}

button:hover {
    opacity: 80%;
    cursor: pointer;

}

article {
    padding:1em;
    margin-bottom: 2em;
    background-color: rgb(231, 231, 194);
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
}